@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/roboto/Roboto.woff2') format('woff2'),
    url('assets/fonts/roboto/Roboto.woff') format('woff'),
    url('assets/fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
