header {
    position: fixed;
    width: 98%;
    top: 0;
    z-index: 99;
    margin-left: 0;
    background-color: white;
    border-bottom: 0.12vw solid;
}

.header_mobile_class {
    display: none;
}

header nav {
    margin-left: 3%;
    width: 95%;
}

header nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

header nav ul li a {
    color: black;
    font-size: 1vw;
    padding: 1vw 2vw;
}

header img {
    width: 10vw;
}

.promo {
    margin-top: 6%;
    display: flex;
}

.promo_left_column {
    width: 50%;
    float: left;
    display: inline-block;
    border-right: 0.12vw solid black;
}

.promo_logo {
    display: flex;
    justify-content: center;
}

.promo_logo picture img {
    max-width: 100%;
    width: 50vw;
    height: 30vw;
}

.creeping_line {
    max-width: 100%;
    width: 100vw;
    height: 7vw;
    border-bottom: 0.12vw solid black;
    border-top: black solid 0.12vw;
    font-size: 1vw;
    overflow-x: hidden;
}

.creeping_line img {
    width: 7vw;
    height: 5vw;
}

.creeping_line_dynamic {
    display: flex;
    gap: 2vw;
    width: 100%;
    margin-top: 0.5vw;
    align-items: center;
    white-space: nowrap;
}

.promo_sauce_on_the_table {
    justify-content: center;
    display: flex;
}

.promo_sauce_on_the_table img {
    margin-top: 5%;
    max-width: 100%;
    width: 45vw;
    height: 30vw;
    position: relative;
}

.promo_right_column {
    width: 50%;
    float: right;
    margin-right: 1%;
    display: inline-block;
}

.promo_text {
    border-bottom: 0.12vw solid black;
}

h1 {
    font-size: 4vw;
    margin-top: 1%;
    text-align: center;
}

.promo_sauce_in_hands {
    display: flex;
    justify-content: center;
}

.promo_sauce_in_hands img {
    margin-top: 3%;
    margin-left: 2%;
    width: 45vw;
    height: 55vw;
    max-width: 100%;
}

.scorpions_and_title {
    border-top: 0.12vw solid black;
    border-bottom: 0.12vw solid black;
    max-width: 100%;
    width: 100vw;
    height: 10vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

h2 {
    font-size: 2.5vw;
}

.scorpions_and_title img {
    margin-left: 1%;
    width: 10vw;
    height: 7vw;
}

.icons_cards {
    justify-content: space-between;
    display: flex;
}

.small_fire_icon,
.big_fire_icon {
    width: 3vw;
    display: flex;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: center;
}

.products {
    display: flex;
    justify-content: space-around;
}

.products picture img {
    margin-left: 2.5%;
    margin-top: -25%;
    margin-bottom: 5%;
    max-width: 95%;
    width: 30vw;
}

.product_text_1 {
    top: 15%;
    display: flex;
    position: relative;
    font-size: 1vw;
    margin-bottom: 5%;
    justify-content: center;
}

.product_text_2 {
    top: 13%;
    display: flex;
    position: relative;
    font-size: 2vw;
    justify-content: center;
}

.photo_sauce_drip img {
    margin-bottom: 1%;
    width: 95vw;
    margin-left: 1%;
    margin-top: 1%;
}

.History {
    border-top: 0.12vw solid black;
    display: flex;
}

.history_left_column {
    float: left;
    width: 50%;
    display: inline-block;
    border-right: 0.12vw solid black;
}

.history_left_column h2 {
    text-align: center;
    width: 50vw;
    margin-top: 5%;
    height: 10vw;
    font-size: 3.1vw;
}

.history_left_column img {
    width: 50vw;
    max-width: 100%;
    height: 35vw;
}

.history_right_column {
    width: 50%;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}

.history_right_column img {
    max-width: 100%;
    width: 100vw;
    height: 45vw;
}

.history_of_product_text {
    position: absolute;
    display: flex;
    margin-top: 20%;
    font-size: 1vw;
    justify-content: center;
    text-align: center;
}

.big_logo_container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.green_background img {
    width: 100vw;
    max-width: 100%;
    margin-top: -15%;
}

.logo_frame img {
    position: absolute;
    top: 1%;
    left: 1%;
    max-width: 98%;
    width: 100vw;
}

.logo img {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 55vw;
    height: 30vw;
    max-width: 100%;
}

footer {
    display: flex;
    width: 100%;
    height: 3vw;
    justify-content: space-between;
    margin-top: -0.20%;
    border-top: 0.12vw solid black;
    background: #CDFD3B;
}

footer a {
    align-items: center;
    display: flex;
    width: 1vw;
    margin-left: 2%;
    margin-right: 10%;
}

footer address {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-around;
}
