:root {
    --nav-text-color: #222222;
    --header-text-size: 14px;
    --fontFamily: "Roboto", sans-serif;
    --footer-color: #CDFD2B;
    --primary-background-color: #FB4B3D;
    --footer-text-size: 15px;
    --running-line-text-size: 17px;
    --default-border: 1px solid black;
    --default-padding: 20px;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: dimgray;
    }

    body {
        background-color: dimgray;
    }
}

@media (prefers-color-scheme: light) {
    header {
        background-color: white;
    }

    body {
        background-color: white;
    }
}
